<!-- BEGIN page-footer -->
<footer class="page-footer">
	  <div class="container">
            <div class="row top-footer">
            <div class="col s12 m6 l3">
            	<h5 class="white-text">Основное</h5>
            	<ul>
            		<li><a href="#">Интерактивная карта</a></li>
            		<li><a href="#">Миссионерские центры</a></li>
            		<li><a href="#">Новости</a></li>
            		<li><a href="#">Блог</a></li>
            		<li><a href="#">Видео</a></li>
            		<li><a href="#">Нужды</a></li>
            		<li><a href="#">Проекты</a></li>
            	</ul>
            </div>
            <div class="col s12 m6 l3">
            	<h5 class="white-text">Информация</h5>
            	<ul>
            		<li><a href="#">О Организации</a></li>
            		<li><a href="#">Контакты лидеров</a></li>
            		<li><a href="#">Миссионерская школа</a></li>
            		<li><a href="#">Расшарить в соцсетях</a></li>
            		<li><a href="#">Онлайн консультация</a></li>
            		<li><a href="#">Отзывы и комментарии</a></li>
            		<li><a href="#">Рекомендуемые нужды</a></li>
            	</ul>
            </div>
            <div class="col s12 m6 l3">
            	<h5 class="white-text">ПЛАТЕЖНЫЕ СИСТЕМЫ</h5>
            	<ul>
	        		<li><a href="#">PaYPal</a></li>
	            	<li><a href="#">ПриватБанк</a></li>
	            	<li><a href="#">ЯндексДеньги</a></li>
	            	<li><a href="#">WESTERNUNION</a></li>
	            	<li><a href="#">WebMoney</a></li>





            	</ul>
            </div>
            <div class="col s12 m6 l3">
            	<div class="logo-footer">
            	<a href="#">
            		<img src="img/logo-f.png" alt="">
            	</a>
            	</div>
            	
            </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            <div class="row">
            	<div class="col s12 m12 l5 copy">
            		Copyright © 2016 FrontLine
            	</div>
            	<div class="col s12 m12 l7">
            		<span class="left">делаем добро вместе!</span>
                        <span class="right">
                        <a href="#">
                              <img src="img/ilion.png" alt="">
                        </a>
                        </span>
            	</div>
            </div>
            </div>
          </div>
</footer>
<!-- END page-footer -->