<!-- BEGIN header -->
<header class="header">
	<div class="top__box_header">
		<div class="container">
			<div class="row">
				<div class="col l2">
				<span class="slogan">
				Делаем добро вместе!
				</span>
				</div>
				<div class="col l8">
					<ul class="top_nav">
						<li><a href="#">О Frontline</a></li>
						<li><a href="#">Подписка на рассылку</a></li>
						<li><a href="#">Обратная связь</a></li>
						<li><a href="#">Контакты</a></li>

					</ul>
				</div>
				<div class="col l2">
					<ul class="right">
						<li>
						<a href="#"><i class="material-icons">search</i></a>
						</li>
						<li>
						<a href="#"><i class="icon-fb"></i></a>
						</li>
						<li>
						<a href="#">EN</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="box__nav">
		<div class="container">
			<div class="row">
				<div class="col l2">
					<a href="#">
						<img src="img/logo.png" alt="">
					</a>
				</div>
				<div class="col l8">
					<nav>
    <div class="nav-wrapper">
      <ul id="nav-mobile" class="left hide-on-med-and-down">
        <li><a href="#">Миссионерские центры</a></li>
        <li><a href="#">Новости</a></li>
        <li><a href="#">Блог</a></li>
        <li><a href="#">Нужды</a></li>
        <li><a href="#">Проекты</a></li>
        <li><a href="#">Видео</a></li>
      </ul>
                               
    </div>
  </nav>
				</div>
				<div class="col l2">
					<div class="valign-wrapper">
					<div class="center-align">
						<a href="#">ПОЖЕРТВОВАТЬ</a>
					</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</header>
<!-- END header -->