<div class="content">
	<div class="container">
		<div class="row">
			<div class="col s12 m6 l8">
				<span class="h3 yell">
					Мы идём туда, где боль, чтобы провозгласить правду
Божью и восстановить разрушенное!
				</span>	
					<div class="map">
				<div class="row">
					<div class="col s12 m12 l12">
						<div id="map">
						</div>
					</div>
					<div class="col l9">
						<p>
							<b>FrontLineHelp</b> - это гуманитарная и духовная помощь гражданскому населению в зоне военного конфликта на востоке Украины.


						</p>
					</div>
					<div class="col l3">
						<ul>
							<li>Наши центры</li>
							<li>Хотим открыть</li>
						</ul>
					</div>
				</div>
			</div>
			</div>
			<div class="col s12 m6 l4">
				<div class="row">
				<span class="h3 anons">
					анонсы мероприятий
				</span>
					<div class="col s12 m12 l12">
						<ul class="collapsible" data-collapsible="accordion">
    <li>
      <div class="collapsible-header active">Заголовок для примера</div>
      <div class="collapsible-body">
      	<div class="box">
					<div class="image">
						<img src="img/acc-bg.png" alt="">
						<div class="valign-wrapper">
						<a href="#" class="name valign">Заголовок первой статьи в блоке “Блог”</a>	
						</div>
					</div>
				</div>
      </div>
    </li>
    <li>
      <div class="collapsible-header">Еще заголовок инфо</div>
      <div class="collapsible-body">
      	<div class="box">
					<div class="image">
						<img src="img/acc-bg.png" alt="">
						<div class="valign-wrapper">
						<a href="#" class="name valign">Заголовок первой статьи в блоке “Блог”</a>	
						</div>
					</div>
				</div>
      </div>
    </li>
    <li>
      <div class="collapsible-header">Пример названия мероприятия</div>
      <div class="collapsible-body">
      	<div class="box">
					<div class="image">
						<img src="img/acc-bg.png" alt="">
						<div class="valign-wrapper">
						<a href="#" class="name valign">Заголовок первой статьи в блоке “Блог”</a>	
						</div>
					</div>
				</div>
      </div>
    </li>
    <li>
      <div class="collapsible-header">Заголовок № 4</div>
      <div class="collapsible-body">
      	<div class="box">
					<div class="image">
						<img src="img/acc-bg.png" alt="">
						<div class="valign-wrapper">
						<a href="#" class="name valign">Заголовок первой статьи в блоке “Блог”</a>	
						</div>
					</div>
				</div>
      </div>
    </li>
  </ul>
					</div>
<div class="accord col s12 m12 l12">
	<div class="accord__title">
		<span class="h3">
			ПОДДЕРЖИ СЕЙЧАС
		</span>
	</div>
<div class="accord__body">
<div class="accord__scroll">
	<ul class="accord__list">
		<li>
			<div class="row">
   				<div class="col l3">
   					<div class="image">
   						<img src="img/need_1.png" alt="">
   					</div>
   				</div>
   				<div class="col l9">
   					<div class="name">
   						<a href="">Первый новостной заголовок этого блока в качестве примера</a>
   					</div>
   				<div class="row">
   					<div class="col l6">
   						<span class="date">
   							05 апрель 2016
   						</span>
   					</div>
   					<div class="col l6">
   						<span class="place">Киев</span>
   					</div>
   				</div>
   				</div>
   			</div>
		</li>
		<li>
			<div class="row">
   				<div class="col l3">
   					<div class="image">
   						<img src="img/need_1.png" alt="">
   					</div>
   				</div>
   				<div class="col l9">
   					<div class="name">
   						<a href="">Первый новостной заголовок этого блока в качестве примера</a>
   					</div>
   				<div class="row">
   					<div class="col l6">
   						<span class="date">
   							05 апрель 2016
   						</span>
   					</div>
   					<div class="col l6">
   						<span class="place">Киев</span>
   					</div>
   				</div>
   				</div>
   			</div>
		</li>
		<li>
			<div class="row">
   				<div class="col l3">
   					<div class="image">
   						<img src="img/need_1.png" alt="">
   					</div>
   				</div>
   				<div class="col l9">
   					<div class="name">
   						<a href="">Первый новостной заголовок этого блока в качестве примера</a>
   					</div>
   				<div class="row">
   					<div class="col l6">
   						<span class="date">
   							05 апрель 2016
   						</span>
   					</div>
   					<div class="col l6">
   						<span class="place">Киев</span>
   					</div>
   				</div>
   				</div>
   			</div>
		</li>
		<li>
			<div class="row">
   				<div class="col l3">
   					<div class="image">
   						<img src="img/need_1.png" alt="">
   					</div>
   				</div>
   				<div class="col l9">
   					<div class="name">
   						<a href="">Первый новостной заголовок этого блока в качестве примера</a>
   					</div>
   				<div class="row">
   					<div class="col l6">
   						<span class="date">
   							05 апрель 2016
   						</span>
   					</div>
   					<div class="col l6">
   						<span class="place">Киев</span>
   					</div>
   				</div>
   				</div>
   			</div>
		</li>
		<li>
			<div class="row">
   				<div class="col l3">
   					<div class="image">
   						<img src="img/need_1.png" alt="">
   					</div>
   				</div>
   				<div class="col l9">
   					<div class="name">
   						<a href="">Первый новостной заголовок этого блока в качестве примера</a>
   					</div>
   				<div class="row">
   					<div class="col l6">
   						<span class="date">
   							05 апрель 2016
   						</span>
   					</div>
   					<div class="col l6">
   						<span class="place">Киев</span>
   					</div>
   				</div>
   				</div>
   			</div>
		</li>
		<li>
			<div class="row">
   				<div class="col l3">
   					<div class="image">
   						<img src="img/need_1.png" alt="">
   					</div>
   				</div>
   				<div class="col l9">
   					<div class="name">
   						<a href="">Первый новостной заголовок этого блока в качестве примера</a>
   					</div>
   				<div class="row">
   					<div class="col l6">
   						<span class="date">
   							05 апрель 2016
   						</span>
   					</div>
   					<div class="col l6">
   						<span class="place">Киев</span>
   					</div>
   				</div>
   				</div>
   			</div>
		</li>
		<li>
			<div class="row">
   				<div class="col l3">
   					<div class="image">
   						<img src="img/need_1.png" alt="">
   					</div>
   				</div>
   				<div class="col l9">
   					<div class="name">
   						<a href="">Первый новостной заголовок этого блока в качестве примера</a>
   					</div>
   				<div class="row">
   					<div class="col l6">
   						<span class="date">
   							05 апрель 2016
   						</span>
   					</div>
   					<div class="col l6">
   						<span class="place">Киев</span>
   					</div>
   				</div>
   				</div>
   			</div>
		</li>
		<li>
			<div class="row">
   				<div class="col l3">
   					<div class="image">
   						<img src="img/need_1.png" alt="">
   					</div>
   				</div>
   				<div class="col l9">
   					<div class="name">
   						<a href="">Первый новостной заголовок этого блока в качестве примера</a>
   					</div>
   				<div class="row">
   					<div class="col l6">
   						<span class="date">
   							05 апрель 2016
   						</span>
   					</div>
   					<div class="col l6">
   						<span class="place">Киев</span>
   					</div>
   				</div>
   				</div>
   			</div>
		</li>
		<li>
			<div class="row">
   				<div class="col l3">
   					<div class="image">
   						<img src="img/need_1.png" alt="">
   					</div>
   				</div>
   				<div class="col l9">
   					<div class="name">
   						<a href="">Первый новостной заголовок этого блока в качестве примера</a>
   					</div>
   				<div class="row">
   					<div class="col l6">
   						<span class="date">
   							05 апрель 2016
   						</span>
   					</div>
   					<div class="col l6">
   						<span class="place">Киев</span>
   					</div>
   				</div>
   				</div>
   			</div>
		</li>
		<li>
			<div class="row">
   				<div class="col l3">
   					<div class="image">
   						<img src="img/need_1.png" alt="">
   					</div>
   				</div>
   				<div class="col l9">
   					<div class="name">
   						<a href="">Первый новостной заголовок этого блока в качестве примера</a>
   					</div>
   				<div class="row">
   					<div class="col l6">
   						<span class="date">
   							05 апрель 2016
   						</span>
   					</div>
   					<div class="col l6">
   						<span class="place">Киев</span>
   					</div>
   				</div>
   				</div>
   			</div>
		</li>
		<li>
			<div class="row">
   				<div class="col l3">
   					<div class="image">
   						<img src="img/need_1.png" alt="">
   					</div>
   				</div>
   				<div class="col l9">
   					<div class="name">
   						<a href="">Первый новостной заголовок этого блока в качестве примера</a>
   					</div>
   				<div class="row">
   					<div class="col l6">
   						<span class="date">
   							05 апрель 2016
   						</span>
   					</div>
   					<div class="col l6">
   						<span class="place">Киев</span>
   					</div>
   				</div>
   				</div>
   			</div>
		</li>
		<li>
			<div class="row">
   				<div class="col l3">
   					<div class="image">
   						<img src="img/need_1.png" alt="">
   					</div>
   				</div>
   				<div class="col l9">
   					<div class="name">
   						<a href="">Первый новостной заголовок этого блока в качестве примера</a>
   					</div>
   				<div class="row">
   					<div class="col l6">
   						<span class="date">
   							05 апрель 2016
   						</span>
   					</div>
   					<div class="col l6">
   						<span class="place">Киев</span>
   					</div>
   				</div>
   				</div>
   			</div>
		</li>
		<li>
			<div class="row">
   				<div class="col l3">
   					<div class="image">
   						<img src="img/need_1.png" alt="">
   					</div>
   				</div>
   				<div class="col l9">
   					<div class="name">
   						<a href="">Первый новостной заголовок этого блока в качестве примера</a>
   					</div>
   				<div class="row">
   					<div class="col l6">
   						<span class="date">
   							05 апрель 2016
   						</span>
   					</div>
   					<div class="col l6">
   						<span class="place">Киев</span>
   					</div>
   				</div>
   				</div>
   			</div>
		</li>
		<li>
			<div class="row">
   				<div class="col l3">
   					<div class="image">
   						<img src="img/need_1.png" alt="">
   					</div>
   				</div>
   				<div class="col l9">
   					<div class="name">
   						<a href="">Первый новостной заголовок этого блока в качестве примера</a>
   					</div>
   				<div class="row">
   					<div class="col l6">
   						<span class="date">
   							05 апрель 2016
   						</span>
   					</div>
   					<div class="col l6">
   						<span class="place">Киев</span>
   					</div>
   				</div>
   				</div>
   			</div>
		</li>
		<li>
			<div class="row">
   				<div class="col l3">
   					<div class="image">
   						<img src="img/need_1.png" alt="">
   					</div>
   				</div>
   				<div class="col l9">
   					<div class="name">
   						<a href="">Первый новостной заголовок этого блока в качестве примера</a>
   					</div>
   				<div class="row">
   					<div class="col l6">
   						<span class="date">
   							05 апрель 2016
   						</span>
   					</div>
   					<div class="col l6">
   						<span class="place">Киев</span>
   					</div>
   				</div>
   				</div>
   			</div>
		</li>
	</ul>
	</div>
</div>
</div>

				</div>

			</div>
		</div>
	</div>
</div>
<div class="news">
	<div class="container">
		<div class="row">
			<div class="col s12 m12 l12">
				<span class="h3">НОВОСТИ
<a href="#" class="prev-news">prev</a>
			<a href="#" class="next-news">next</a>
				</span>
			</div>
			<div class="col s12 m12 l12">
				<div class="row news-slider">
					<div class="col l4">
				<div class="box">
					<div class="image">
						<img src="img/news_1.png" alt="">
						<div class="valign-wrapper">
						<a href="#" class="name valign">Заголовок первой статьи в блоке “Блог”</a>	
						</div>
					</div>
					<div class="text">
						<p>Пример текста, где будет описываться в кратце о чем данная статья. Пример текста блока. </p>
					</div>
				</div>
			</div>
			<div class="col l4">
				<div class="box">
					<div class="image">
						<img src="img/news_2.png" alt="">
						<div class="valign-wrapper">
						<a href="#" class="name valign">Заголовок статьи под номером 3</a>	
						</div>
					</div>
					<div class="text">
						<p>Пример текста, где будет описываться в кратце о чем данная статья. Пример текста блока. Пример текста блока.</p>
					</div>
				</div>
			</div>
			<div class="col l4">
				<div class="box">
					<div class="image">
						<img src="img/news_3.png" alt="">
						<div class="valign-wrapper">
						<a href="#" class="name valign">Самый самый последнее название статьи</a>	
						</div>
					</div>
					<div class="text">
						<p>Пример текста, где будет описываться в кратце о чем данная статья. Пример текста блока.</p>
					</div>
				</div>
			</div>
			<div class="col l4">
				<div class="box">
					<div class="image">
						<img src="img/news_4.png" alt="">
						<div class="valign-wrapper">
						<a href="#" class="name valign">Самый самый последнее название статьи</a>	
						</div>
					</div>
					<div class="text">
						<p>Пример текста, где будет описываться в кратце о чем данная статья. Пример текста блока.</p>
					</div>
				</div>
			</div>
			<div class="col l4">
				<div class="box">
					<div class="image">
						<img src="img/news_5.png" alt="">
						<div class="valign-wrapper">
						<a href="#" class="name valign">Самый самый последнее название статьи</a>	
						</div>
					</div>
					<div class="text">
						<p>Пример текста, где будет описываться в кратце о чем данная статья. Пример текста блока.</p>
					</div>
				</div>
			</div>
			<div class="col l4">
				<div class="box">
					<div class="image">
						<img src="img/news_6.png" alt="">
						<div class="valign-wrapper">
						<a href="#" class="name valign">Самый самый последнее название статьи</a>	
						</div>
					</div>
					<div class="text">
						<p>Пример текста, где будет описываться в кратце о чем данная статья. Пример текста блока.</p>
					</div>
				</div>
			</div>
				<div class="col l4">
				<div class="box">
					<div class="image">
						<img src="img/news_5.png" alt="">
						<div class="valign-wrapper">
						<a href="#" class="name valign">Самый самый последнее название статьи</a>	
						</div>
					</div>
					<div class="text">
						<p>Пример текста, где будет описываться в кратце о чем данная статья. Пример текста блока.</p>
					</div>
				</div>
			</div>
			<div class="col l4">
				<div class="box">
					<div class="image">
						<img src="img/news_6.png" alt="">
						<div class="valign-wrapper">
						<a href="#" class="name valign">Самый самый последнее название статьи</a>	
						</div>
					</div>
					<div class="text">
						<p>Пример текста, где будет описываться в кратце о чем данная статья. Пример текста блока.</p>
					</div>
				</div>
			</div>
				<div class="col l4">
				<div class="box">
					<div class="image">
						<img src="img/news_5.png" alt="">
						<div class="valign-wrapper">
						<a href="#" class="name valign">Самый самый последнее название статьи</a>	
						</div>
					</div>
					<div class="text">
						<p>Пример текста, где будет описываться в кратце о чем данная статья. Пример текста блока.</p>
					</div>
				</div>
			</div>
			<div class="col l4">
				<div class="box">
					<div class="image">
						<img src="img/news_6.png" alt="">
						<div class="valign-wrapper">
						<a href="#" class="name valign">Самый самый последнее название статьи</a>	
						</div>
					</div>
					<div class="text">
						<p>Пример текста, где будет описываться в кратце о чем данная статья. Пример текста блока.</p>
					</div>
				</div>
			</div>
				<div class="col l4">
				<div class="box">
					<div class="image">
						<img src="img/news_5.png" alt="">
						<div class="valign-wrapper">
						<a href="#" class="name valign">Самый самый последнее название статьи</a>	
						</div>
					</div>
					<div class="text">
						<p>Пример текста, где будет описываться в кратце о чем данная статья. Пример текста блока.</p>
					</div>
				</div>
			</div>
			<div class="col l4">
				<div class="box">
					<div class="image">
						<img src="img/news_6.png" alt="">
						<div class="valign-wrapper">
						<a href="#" class="name valign">Самый самый последнее название статьи</a>	
						</div>
					</div>
					<div class="text">
						<p>Пример текста, где будет описываться в кратце о чем данная статья. Пример текста блока.</p>
					</div>
				</div>
			</div>
				<div class="col l4">
				<div class="box">
					<div class="image">
						<img src="img/news_5.png" alt="">
						<div class="valign-wrapper">
						<a href="#" class="name valign">Самый самый последнее название статьи</a>	
						</div>
					</div>
					<div class="text">
						<p>Пример текста, где будет описываться в кратце о чем данная статья. Пример текста блока.</p>
					</div>
				</div>
			</div>
			<div class="col l4">
				<div class="box">
					<div class="image">
						<img src="img/news_6.png" alt="">
						<div class="valign-wrapper">
						<a href="#" class="name valign">Самый самый последнее название статьи</a>	
						</div>
					</div>
					<div class="text">
						<p>Пример текста, где будет описываться в кратце о чем данная статья. Пример текста блока.</p>
					</div>
				</div>
			</div>
				<div class="col l4">
				<div class="box">
					<div class="image">
						<img src="img/news_5.png" alt="">
						<div class="valign-wrapper">
						<a href="#" class="name valign">Самый самый последнее название статьи</a>	
						</div>
					</div>
					<div class="text">
						<p>Пример текста, где будет описываться в кратце о чем данная статья. Пример текста блока.</p>
					</div>
				</div>
			</div>
			<div class="col l4">
				<div class="box">
					<div class="image">
						<img src="img/news_6.png" alt="">
						<div class="valign-wrapper">
						<a href="#" class="name valign">Самый самый последнее название статьи</a>	
						</div>
					</div>
					<div class="text">
						<p>Пример текста, где будет описываться в кратце о чем данная статья. Пример текста блока.</p>
					</div>
				</div>
			</div>
				</div>
			</div>
			
		</div>
	</div>
</div>
<div class="blog">
	<div class="container">
		<div class="row">
			<div class="col s12 m12 l12 heading">
			<span class="h3">БЛОГ <a href="#" class="prev">prev</a>
			<a href="#" class="next">next</a>
			</span>
			</div>
			<div class="col s12 m12 l12">
			<div class="row blog-slider ">
				
				<div class="col l3">
				<div class="box center">
					<div class="image">
						<img src="img/blog_1.png" alt="">
					</div>
					<div class="name">
						<a href="">Первый заголовок для блока</a>
					</div>
				</div>
			</div>
			<div class="col l3">
				<div class="box center">
					<div class="image">
						<img src="img/blog_2.png" alt="">
					</div>
					<div class="name">
						<a href="">Второй пример заголовка для блока “Блог”</a>
					</div>
				</div>
			</div>
			<div class="col l3">
				<div class="box center">
					<div class="image">
						<img src="img/blog_3.png" alt="">
					</div>
					<div class="name">
						<a href="">Второй пример заголовка для блока “Блог”</a>
					</div>
				</div>
			</div>
			<div class="col l3">
				<div class="box center">
					<div class="image">
						<img src="img/blog_4.png" alt="">
					</div>
					<div class="name">
						<a href="">Второй пример заголовка для блока “Блог”</a>
					</div>
				</div>
			</div>
			<div class="col l3">
				<div class="box center">
					<div class="image">
						<img src="img/blog_3.png" alt="">
					</div>
					<div class="name">
						<a href="">Второй пример заголовка для блока “Блог”</a>
					</div>
				</div>
			</div>
			<div class="col l3">
				<div class="box center">
					<div class="image">
						<img src="img/blog_4.png" alt="">
					</div>
					<div class="name">
						<a href="">Второй пример заголовка для блока “Блог”</a>
					</div>
				</div>
			</div>
			</div>
			</div>
		</div>
	</div>
</div>
<div class="baner-wrap hide-on-small-only hide-on-med-only">
	<div class="container">
			<div class="baner center col s12 m12 l12">
			<div class="row">
				<img  class="responsive-img" src="img/baner.png" alt="">
				<div class="text">
					<span class="h1">Желаете поддержать проект FRONTLINE?
Делаем добро вместе!</span>
					<div class="button center">
						<a href="">ХОЧУ ПОДДЕРЖАТЬ</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="partners">
		<div class="container">
			<div class="row">
				<div class="col l12">
					<span class="h3">Наши партнеры</span>
				</div>
				<div class="partners-slide col s12 m12 l12">
					<div class="item">
						<div class="valign-wrapper">
							<div class="valign">
								<img src="img/emmanuil-h.png" alt="">
							</div>
						</div>
					</div>
					<div class="item">
						<div class="valign-wrapper">
							<div class="valign">
								<img src="img/dvest-h.png" alt="">
							</div>
						</div>
					</div>
					<div class="item">
						<div class="valign-wrapper">
							<div class="valign">
								<img src="img/together-minestry-h.png" alt="">
							</div>
						</div>
					</div>
					<div class="item">
						<div class="valign-wrapper">
							<div class="valign">
								<img src="img/saveuk-h.png" alt="">
							</div>
						</div>
					</div>
					<div class="item">
						<div class="valign-wrapper">
							<div class="valign">
								<img src="img/neem-h.png" alt="">
							</div>
						</div>
					</div>
					<div class="item">
						<div class="valign-wrapper">
							<div class="valign">
								<img src="img/cvcis-h.png" alt="">
							</div>
						</div>
					</div>
						<div class="item">
						<div class="valign-wrapper">
							<div class="valign">
								<img src="img/emmanuil-h.png" alt="">
							</div>
						</div>
					</div>
					<div class="item">
						<div class="valign-wrapper">
							<div class="valign">
								<img src="img/dvest-h.png" alt="">
							</div>
						</div>
					</div>
					<div class="item">
						<div class="valign-wrapper">
							<div class="valign">
								<img src="img/together-minestry-h.png" alt="">
							</div>
						</div>
					</div>
					<div class="item">
						<div class="valign-wrapper">
							<div class="valign">
								<img src="img/saveuk-h.png" alt="">
							</div>
						</div>
					</div>
					<div class="item">
						<div class="valign-wrapper">
							<div class="valign">
								<img src="img/neem-h.png" alt="">
							</div>
						</div>
					</div>
					<div class="item">
						<div class="valign-wrapper">
							<div class="valign">
								<img src="img/cvcis-h.png" alt="">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>